@media screen and (max-width: 768px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
    background-size: 100% 100%;
    max-height: 100vh;
    max-width: 100vw;
  }

  .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1rem;
  }

  nav button {
    display: block;
    margin-top: 2rem;
  }

  nav .links img {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .content h1 {
    font-size: 4.5rem;
    line-height: 3.8rem;
  }
}

@media screen and (min-width: 351px) and (max-width: 410px) {
  .content h1 {
    font-size: 5.8rem;
    line-height: 5.2rem;
  }
}

@media screen and (min-width: 411px) and (max-width: 430px) {
  .content h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
  }
}

@media screen and (min-width: 1700px) {
  .content h1 {
    font-size: 10rem;
    line-height: 9.5rem;
  }
}

@media screen and (max-width: 480px) {
  nav .icon {
    display: block;
  }

  .links {
    display: none;
  }

  .logo {
    width: 70%;
  }

  .content p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 599px) {
  nav .icon {
    display: block;
  }

  .links {
    display: none;
  }

  .logo {
    width: 50%;
  }

  .content p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  nav .icon {
    display: block;
  }

  .links {
    display: none;
  }

  .logo {
    width: 50%;
  }

  .content p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 889px) and (max-width: 1000px) {
  .content p {
    font-size: 1.4rem;
  }

  .content button {
    height: 3rem;
    width: 11rem;
  }
}

@media screen and (max-width: 768px) {
  .menu-social {
    display: block;
  }
}

@media screen and (min-width: 555px) and (max-width: 700px) {
  .menu-social {
    font-size: 3.5rem;
    left: 22%;
  }
}

@media screen and (min-width: 445px) and (max-width: 554px) {
  .menu-social {
    font-size: 3rem;
    left: 22%;
  }
}

@media screen and (min-width: 334px) and (max-width: 444px) {
  .menu-social {
    font-size: 2.5rem;
    left: 19%;
  }
}

@media screen and (min-width: 317px) and (max-width: 333px) {
  .menu-social {
    font-size: 2.2rem;
    left: 17%;
  }
}

@media screen and (max-width: 316px) {
  .menu-social {
    font-size: 2.2rem;
    left: 14%;
  }
}

@media screen and (max-width: 768px) {
  nav .links {
    position: fixed;
    z-index: 100;
    background: black;
    top: 0;
    left: 100%;
    flex-direction: column;
    justify-content: start;
    padding-top: 2.5rem;
    max-height: 100vh;
    width: 70%;
    border: 1px solid #767676;
    box-shadow: inset #009688 2px 5px 15px, inset #009688 -2px -5px 15px;
    transition: all 0.5s ease-in-out;
  }

  nav .links li {
    margin: 0.7rem;
    width: 100%;
  }

  nav .links li a {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 420;
    line-height: 1rem;
  }

  nav :checked ~ .links {
    left: 40%;
    background-color: black;
  }

  .icon {
    z-index: 11;
  }

  .content {
    overflow: hidden;
  }

  nav :checked ~ .icon .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  nav :checked ~ .icon .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  nav :checked ~ .icon .line:nth-child(2) {
    opacity: 0;
  }

  .about-me {
    padding: 5rem 0;
  }

  .text {
    display: grid;
    justify-content: space-between;
  }

  .text img {
    width: 9rem;
    margin: auto;
    height: 10rem;
    margin-bottom: 1rem;
  }

  .text p {
    margin: auto;
    width: 90%;
    text-align: justify;
  }

  .icons {
    font-size: 3rem;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 269px) {
  nav .links li a {
    padding: 2rem;
    font-size: 0.6rem;
  }

  nav button {
    width: 7rem;
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 270px) and (max-width: 400px) {
  nav .links li a {
    padding: 2rem;
    font-size: 0.8rem;
  }

  nav button {
    width: 7.7rem;
    font-size: 0.5rem;
    right: 10%;
    transform: translate(-10%, 0);
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  nav button {
    width: 8.5rem;
    font-size: 0.52rem;
    right: 13%;
    transform: translate(-13%, 0);
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  nav button {
    width: 9.5rem;
    font-size: 0.55rem;
    right: 16%;
    transform: translate(-16%, 0);
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  nav button {
    width: 10.5rem;
    font-size: 0.6rem;
    right: 18%;
    transform: translate(-18%, 0);
  }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
  .logo {
    width: 20%;
  }

  nav .links {
    width: 80%;
  }

  nav button {
    width: 6rem;
    font-size: 0.45rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  .logo {
    width: 20%;
  }

  nav .links {
    width: 80%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1124px) {
  .about-me {
    padding: 5rem 0;
  }

  .text {
    display: grid;
    justify-content: space-between;
  }

  .text img {
    width: 14rem;
    margin: auto;
    height: 14rem;
    margin-bottom: 1rem;
  }

  .text p {
    margin: auto;
    width: 70%;
    text-align: justify;
  }

  .icons {
    font-size: 4rem;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 749px) {
  .contact-me {
    padding: 5rem 0;
  }

  .contact-me h4 {
    font-size: 1rem;
    text-align: center;
  }

  .contact-me h5 {
    text-align: center;
  }

  .contact-me .empty {
    width: 80%;
    margin: auto;
  }

  .reach-me {
    display: grid;
    justify-content: space-evenly;
  }

  .trad {
    width: 80%;
    margin: auto;
  }

  .social {
    font-size: 3rem;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  .tools div {
    grid-template-columns: auto auto auto auto;
    gap: 20px;
  }
}

@media screen and (max-width: 760px) {
  .tools div {
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}

@media screen and (max-width: 530px) {
  .tools img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 320px) {
  .tools img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1060px) {
  .contact-me {
    padding: 5rem 6rem;
  }
}

@media screen and (max-width: 320px) {
  footer p {
    font-size: 0.8rem;
  }

  .social {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 371px) and (max-width: 385px) {
  .work-container {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 370px) {
  .work-container {
    padding: 0 0.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .work-container {
    padding: 0 0;
  }

  .work-item {
    width: 27ch;
  }
}

@media screen and (max-width: 319px) {
  .my-work {
    padding: 2rem 0.5rem;
  }

  .work-container {
    padding: 0 0;
  }

  .work-item {
    width: 23ch;
  }

  .work-text {
    padding: 1rem 0 1rem 0;
  }

  .btn1 {
    padding: 0.5rem 1rem;
  }

  .btn2 {
    padding: 0.5rem 1rem;
  }
}
